<%= link_to "学習記録日記", diaries_path, class: "app_title" %>
<%= link_to "日記一覧", diaries_path, class: "diaries-btn" %>

<%= flash[:error] %>
<%= flash[:success] %>
<h2>ジャンル一覧</h2>
<% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to "削除", genre_path(genre), method: :delete, "data-confirm" => "本当に削除しますか" %>
<% end %>
<%= form_with model:@genre, local:true do |f| %>
  <div class="genre-new">
    <%= f.text_field :name %>
    <%= f.submit "新規登録" %>
  </div>
<% end %>



