<%= link_to "学習記録日記", diaries_path, class: "app_title" %>

<% if @average.present? %>
  <div class="learning_time">
    平均学習時間:
 ⊕
  </div>
<% end %>
<div class="diary-today-msg">
  <% if @today_diary.count == 0 %>
  　日記⊕を押して投稿してね！
  <% else %>
    明日も投稿してね！
  <% end %>
</div>

<div class="genre-list">
  <div class="genre-top">
    <div class="second-title">ジャンル検索</div>
    <%= link_to "＋", new_genre_path, class: "plus-btn" %>
  </div>
  <% @genres.each do |genre| %>
    <%= link_to genre.name, diaries_path(genre_id: genre.id), class: "genre-link" %>
  <% end %>
  <%= link_to "リセット", diaries_path %>
</div>

<div class="diary-list">
  <div class="diary-list-top">
    <div class="second-title">日記一覧</div>
    <% if @today_diary.count == 0 %>
      <%= link_to "＋", new_diary_path, class: "plus-btn" %>
    <% end %>
  </div>

<div class="success-msg"><%= flash[:success] %></div>
  <% @diaries.each do |diary| %>
    <div class="diary-list-content">
      <div class="diary-list-date"><%= diary.created_at.strftime("%Y/%m/%d") %></div>
      <div class="diary-list-title"><%= link_to diary.title, diary_path(diary) %></div><br />
    </div>
  <% end %>
</div>
