<%= link_to "学習記録日記", diaries_path, class: "app_title" %><br />
<%= link_to "日記編集", edit_diary_path(@diary), class: "diaries-link" %>
<%= link_to "日記一覧", diaries_path, class: "diaries-link" %>
<%= link_to "日記削除", diary_path(@diary), method: :delete, "data-confirm" => "本当に削除しますか", class: "diaries-link" %>

<div class="diary-list">
  <div class="diary-label">
    <div class="second-title"><%= @diary.created_at.strftime("%Y/%m/%d") %></div>
  </div>

  <ul>
    <li>学習時間：<%= @diary.learning_time %>時間</li>
  </ul>
  <ul>
    <li><タイトル></li>
    <li><%= @diary.title %></li>
  </ul>
  <ul>
    <li><参考にしたサイト></li>
    <li><%= @diary.url %></li>
  </ul>
  <ul>
    <li><日記文></li>
    <li><%= @diary.sentence %></li>
  </ul>
</div>